*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family:'poppins', sans-serif ;
}
body{
     height: 100vh; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#ff77,#0011);
      
}
.container{
    display: flex;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500px;
    position: relative;
}
.container .title::before{
    content:'' ;
    position: absolute;
    left: 0;
    bottom:0 ;
    height: 3px;
    width: 30px;
    background:brown ;

}
.container form .user-details{
    display :flex;
    flex-wrap: wrap;

}
form.user-details.input-box{
    margin: 20px 0 12px 0;
    padding :10px ;
    width: calc(100% /2-20px)
}
.user-details .input-box .user-details{
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
    padding: 20;
}
.user-details .input-box input{
    height: 45;
    width: 100%;
    padding: 20;
    outline: none;
    font-size: 16px;
    border: 1px solid rgba(red, green, blue, alpha);
}
input{
    margin-left: 20px;
    padding: 20;
}

input-box{
  float: left;
   width: 50%;
  padding: 10px;
  height: 300px;
    }